.heroSection {
    padding-top: calc(var(--nav-height) + 3rem);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(327.21deg, #141414 3.65%, rgba(153, 153, 153, 0) 40.32%),
        linear-gradient(245.93deg, rgba(72, 69, 71, 0.16) 0%, rgba(235, 235, 235, 0) 36.63%),
        linear-gradient(147.6deg, rgba(100, 99, 99, 0) 29.79%, rgba(137, 137, 137, 0.01) 85.72%), #141414;

    .mainHeading {

        font-size: 5rem;
        font-weight: bold;
        font-family: 'NeueMachina-Regular', sans-serif;
        color: var(--white);
        padding-top: 5rem;

        h1 {

            span.special_word {
                margin-left: 10rem;
                font-family: "Romance";
            }
        }

        .text-block {
            width: 15vw;
            font-size: 1rem;
            position: absolute;
            right: 15%;
            line-height: 1.2;
            top: 15%;
            color: #c3c2c2;
        }
    }
}

.back_white_blob_top {
    width: 34vw;
    top: 0;
    left: 50%;
    transform: translateY(50%);
    position: absolute;
    z-index: -3;
    box-shadow: 0px 0 14rem 10rem rgba(149, 147, 147, 0.31);
    border-radius: 8% 52% 0% 100%/0% 0% 91% 100%;
}


.back_white_blob_down {
    width: 28vw;
    position: absolute;
    z-index: -3;
    bottom: 0;
    right: 15%;
    box-shadow: 0px 0 10rem 3rem rgba(146, 144, 144, 0.49);
    border-radius: 0% 99% 0% 0%/100% 100% 0% 0% !important;
}


.scroll_btn_container {
    align-items: center;
    color: white;

    .circle {
        position: relative;
        width: 190px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid var(--scroll-border);

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .logo {
        position: absolute;
        width: 70%;
        aspect-ratio: 1;
        padding: 2.5rem;
        border-radius: 50%;
        border: 1px solid var(--scroll-border);
        background: #3d3d3d1f;
        backdrop-filter: blur(4rem);


        img {
            position: relative;
            top: -20%;
            animation: arrowJumping 1.2s linear infinite;
        }
    }

    .text {
        position: absolute;
        width: 100%;
        aspect-ratio: 1;
        font-family: 'GalleryModern', sans-serif;
        animation: rotateText 10s linear infinite;

        span {
            position: absolute;
            left: 50%;
            font-size: 1rem;
            transform-origin: 0 94px;
            padding: 3px;
        }
    }

}

@keyframes rotateText {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

// @keyframes arrowJumping {
//     0% {
//         top: -20%;
//     }

//     60% {
//         top: 20%;
//     }

//     100% {
//         top: -20%;
//     }
// }
@keyframes arrowJumping {

    0% {
        transform: translateY(-10%);
    }

    12% {
        transform: translateY(13.56%);
    }

    24% {
        transform: translateY(38.01%);
    }

    36% {

        transform: translateY(15.02%);
    }

    54% {
        transform: translateY(39.37%);
    }

    74% {
        transform: translateY(33.75%);
    }

    82% {
        transform: translateY(39.34%);
    }

    92% {
        transform: translateY(38.46%);
    }

    96% {
        transform: translateY(40%);
    }

    100% {
        transform: translateY(0%);
    }



}